.Title {
  text-align: center;
  padding-bottom: 12px;
  margin-bottom: 1%;
  color: white;
  background-color: black;
}

.Header {
  font-size: 250%;
  font-weight: bold;
  padding-top: 10px;
  font-family: 'Black Ops One', cursive;
}

.Title body {
  padding-top: 5px;
  font-size: 75%;
  font-family: 'Quantico', sans-serif;
}
