.Toggle {
  text-align: center;
}

.Basic-button {
  transition-duration: 0.2s;
  border: 1px solid black;
}

.Basic-button:hover {
  background-color: grey;
  color: white;
}

.Ovr-button {
  background-color: white;
  transition-duration: 0.2s;
  border: none;
}
